[build]
builder = "NIXPACKS"
buildCommand = "dotnet publish -c Release -o output"

[deploy]
startCommand = "dotnet BigProject.dll"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10 